#-------------------------------------------------------------------------------
# Mupach Config :)
# Find/replace "/_mupach" with whatever the web-accessible URL for the folder is.
# Eg: "/example/mupach/_mupach"
#-------------------------------------------------------------------------------

<IfModule mod_rewrite.c>
  RewriteEngine on
  Options +FollowSymLinks

  # This set a default image for Album-Art. Configure this, too.
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
  RewriteRule \.(gif|jpe?g|png|bmp) /_mupach/blank.gif [NC,L]
</IfModule>

<IfModule mod_autoindex.c>
    IndexOptions \
       -HTMLTable \
       NameWidth=* \
       FancyIndexing \
       IgnoreCase \
       VersionSort \
       SuppressIcon \
       SuppressHTMLPreamble \
       SuppressColumnSorting \
       SuppressDescription \
       SuppressSize \
       SuppressLastModified \
       SuppressRules

    IndexIgnore \
       .\
       ..\
       header.shtml \
       footer.shtml \
       album-art.php \
       favicon.gif \
       favicon.ico \
       _mupach \
       liner.txt \
       Album-Art.jpg

    HeaderName /_mupach/header.shtml
    ReadmeName /_mupach/footer.shtml
</IfModule>

<IfModule mod_include.c>
  AddType text/html .shtml
  AddHandler server-parsed .shtml
</IfModule>

